
/* CSS declarations go here */
body {color:white;font-family:arial;font:Arial Black;}
*{background-color:transparent;}
h1 {color:white;font-family:arial;font:Arial Black;}
div{background-color:white;}
#link{
	border-color:red;
	height:25px;
	width:120px;
	background-color:pink;
	border-style:solid;
	border-radius:20px;
	margin:auto;
	text-align:center;
	
}
a{
	text-decoration:none;
	color:black;
}
button{
	color:white;font-family:arial;font:Arial Black;
}


