
/* CSS declarations go here */
body {color:white;font-family:arial;font:Arial Black;}
*{background-color:ff99cc;}
h1 {color:white;font-family:arial;font:Arial Black;}
div{background-color:gray; border:4px solid white;}


