
/* CSS declarations go here */
body {color:blue;#66FF33:arial;font:Arial Black;}
*{background-color:#96E4AC;}
h1 {color:#FFAD5C;font-family:arial;font:Arial Black;}
div{background-color:#96E4AC; border:4px solid #FFAD5C;}


